<section id="sec2 " class="pad-bottom-100">
	<div class="container-fluid"> 
		<div class="row pad-top-100">
		<div class="col-lg-8 offset-2">
			<div class="row">
					<div class="col-lg-12 col-md-12 text-center text-middle">
						<h2 class="text-center font-weight-bold nav-font">ABOUT US</h2>
					</div>
				
				<hr class="hr">
					<div class="col-lg-12 col-md-12 text-center text-middle">
						<p class="text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium de ex eligendi minima voluptatem assumenda voluptas quidem sit maiorestur adipisicing elit.</p>
					</div>
				</div>
		</div>
		</div>
		<div class="container">
			<div class="col-lg-12">
				<div class="row pad-top-70">

				<div class="col-lg-3 text-center about">
					<div class="pad-bottom-10">
						<i class="fas fa-user-circle fa-3x icon-ab"></i>
					</div>
					<div>
						<h3 class="font-weight-bold">Who We Are?</h3>
					</div>
					<div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
				<div class="col-lg-3 text-center about">
					<div class="pad-bottom-10">
						<i class="fas fa-laptop fa-3x icon-ab"></i>
					</div>
					<div>
						<h3 class="font-weight-bold">Why Choose Us?</h3>
					</div>
					<div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
				<div class="col-lg-3 text-center about">
					<div class="pad-bottom-10">
						<i class="fas fa-bullseye fa-3x icon-ab"></i>
					</div>
					<div>
						<h3 class="font-weight-bold">Our Mission</h3>
					</div>
					<div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
				<div class="col-lg-3 text-center about">
					<div class="pad-bottom-10">
						<i class="fas fa-lightbulb fa-3x icon-ab"></i>
					</div>
					<div>
						<h3 class="font-weight-bold">What We Do?</h3>
					</div>
					<div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	
</section>
