
	<!-- topbar -->

	<section id="topbar">
		<div class="container-fluid">
			<div class="row background-black">
				<div class="col-lg-12 col-md-3 col-sm-7 col-xs-2">
					<div class="row pad-10">
					<div class="col-lg-2 mar-left-130">
								<span><i class="fas fa-phone white font "></i>&nbsp;<span class=" white font">+91985783973</span></span>
					</div>
					<div class="col-lg-2 ml-0">
								<span><i class="fas fa-envelope white font "></i>&nbsp;<span class=" white font id">info@yousite.com</span></span>
					</div>
					 <div class="col-lg-2 ml-auto pad-left-30 white">
							<div>	
								<i class="fab fa-facebook-f .top-icon font fb"></i>
								<i class="fab fa-twitter .top-icon font tw pad-left-10"></i>
								<i class="fab fa-linkedin-in  .top-icon font lin pad-left-10"></i>
								<i class="fab fa-google-plus-g .top-icon google font ins pad-left-10"></i>
								<i class="fab fa-youtube .top-icon font you pad-left-10"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- topbar ends -->

<!-- navigation -->
<section id="navigation ">
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark nav-color pad-20 nav-font" >
		<div class="container-fluid">
  		<a class="navbar-brand nav-font" href="#">Logo</a>
 			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    		<ul class="navbar-nav ml-auto nav-font">
      			<li class="nav-item nav-font">
       				 <a class="nav-link nav-font  " href="home">HOME</a>
     		 	</li>
      			<li class="nav-item">
       				 <a class="nav-link nav-font " href="about">About US</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link nav-font " href="#staff">Staffs</a>
      			</li>
      			
     			
     			 <li class="nav-item">
       				 <a class="nav-link nav-font sc6" href="contact">Contact</a>
     			 </li>
     			 <li class="nav-item">
       				 <a class="nav-link nav-font sc7" href="contact"><i class="fas fa-search"></i></a>
     			 </li>
    		</ul>
  		</div>
  	</div>
	</nav>
	
</section>

<!-- nav ends -->