<section id="sec1">
	

  <carousel>
    <slide>
      <img class="size" src="../assets/images/glass.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="">First slide label</h3>
        <p class="">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img class="size" src="../assets/images/mobile.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="car">Second slide label</h3>
        <p class="car">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img class="size" src="../assets/images/nn.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="car">Third slide label</h3>
        <p class="car">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>


</section>
<!-- end of slider -->
