<!-- sec 6 team-->

<section id="staff">
	<div class="container mar-top-90">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 text-center text-middle">
						<h2 class="text-center font-weight-bold nav-font">OUR TEAM</h2>
					</div>
				
				<hr class="hr">
					<div class="col-lg-12 col-md-12 text-center text-middle">
						<p class="text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium de ex eligendi minima voluptatem assumenda voluptas quidem sit maiorestur adipisicing elit.</p>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-3 text-center pad-bottom-30">
								<div>
								<img src="../assets/images/team.jpg" height="250" width="250" class="pad-bottom-30 img-responsive">
								</div>
								<h5 class="text-center font-weight-bold nav-font">Phillip Parisis</h5>
								<hr class="hr">
								<p>Founder</p>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those.</p>
								<div class="pad-20 ">
									<i class="fab fa-facebook-f  sites  fbb fa-1x"></i>
									<i class="fab fa-twitter  sites  tww pad-left-10 fa-1x"></i>
									<i class="fab fa-youtube sites  yo pad-left-10 fa-1x"></i>
									<i class="fab fa-linkedin-in sites in pad-left-10 fa-1x"></i>
									<i class="fab fa-google-plus-g sites googl  ins pad-left-10 fa-1x"></i>
								</div>

							</div>
							<div class="col-lg-3 text-center pad-bottom-30">
								<div>
								<img src="../assets/images/man.jpg" height="250" width="250" class="pad-bottom-30 img-responsive">
								</div>
								<h5 class="text-center font-weight-bold nav-font">Simo Kruyt</h5>
								<hr class="hr">
								<p>Analyst</p>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those.</p>
								<div class="pad-20 ">
									<i class="fab fa-facebook-f  sites  fbb fa-1x"></i>
									<i class="fab fa-twitter  sites  tww pad-left-10 fa-1x"></i>
									<i class="fab fa-youtube sites  yo pad-left-10 fa-1x"></i>
									<i class="fab fa-linkedin-in sites in pad-left-10 fa-1x"></i>
									<i class="fab fa-google-plus-g sites googl  ins pad-left-10 fa-1x"></i>
								</div>
							</div>
							<div class="col-lg-3 text-center pad-bottom-30">
								<div>
								<img src="../assets/images/man1.jpg" height="250" width="250" class="pad-bottom-30 img-responsive">

								</div>
								<h5 class="text-center font-weight-bold nav-font">Jorge Canaveral</h5>
								<hr class="hr">
								<p>Graphic designer</p>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those.</p>
								<div class="pad-20 ">
									<i class="fab fa-facebook-f  sites  fbb fa-1x"></i>
									<i class="fab fa-twitter  sites  tww pad-left-10 fa-1x"></i>
									<i class="fab fa-youtube sites  yo pad-left-10 fa-1x"></i>
									<i class="fab fa-linkedin-in sites in pad-left-10 fa-1x"></i>
									<i class="fab fa-google-plus-g sites googl  ins pad-left-10 fa-1x"></i>
								</div>
							</div>
							<div class="col-lg-3 text-center pad-bottom-30">
								<div>
								<img src="../assets/images/man.jpg" height="250" width="250" class="pad-bottom-30 img-responsive">
								</div>
								<h5 class="text-center font-weight-bold nav-font">Aimee Devlin</h5>
								<hr class="hr">
								<p>Developer</p>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those.</p>
								<div class="pad-20 ">
									<i class="fab fa-facebook-f  sites  fbb fa-1x"></i>
									<i class="fab fa-twitter  sites  tww pad-left-10 fa-1x"></i>
									<i class="fab fa-youtube sites  yo pad-left-10 fa-1x"></i>
									<i class="fab fa-linkedin-in sites in pad-left-10 fa-1x"></i>
									<i class="fab fa-google-plus-g sites googl  ins pad-left-10 fa-1x"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>

		</div>

	</div>
	
</section>
